.header {
    background: var(--color_1);
    text-align: center;
    padding-top: 4px;
    padding-bottom: 1px;
    border-bottom: 2px solid var(--color_3);
}

.header img {
    vertical-align: top;
}

@media only screen and (max-width: 600px) and (min-width: 320px)  {
    .header img {
        width:55px;
    }
}
