* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Rubik, Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1270px;
    margin: 0 auto;
}

.hide {
    display: none;
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
    .container {
        width: 100%;
    }
}
