.main {
    background: #025daf;
    position: relative;
    overflow: hidden;
    padding-bottom: 174px;
}
.main .mask {
    position: absolute;
    top: -700px;
    left: 0;
    width: 100%;
    background: url("../../components/main/img/bgVibes.png") no-repeat top center;
    height: 1700px;
    animation-name: rotation;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url("../../components/main/img/background_0.jpg") no-repeat top center;
    height: 100%;
}
.main .wrapper {
    padding-top: 31px;
    z-index: 2;
    position: relative;
}
.main_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: var(--color_5);
    text-shadow: 4px 4px 8px rgba(0, 48, 97, 0.56);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
    .main {
        height: 1300px;
    }

    .main .mask {
        top: -645px;
        left: -647px;
        width: 1700px;
        background: url("../../components/main/img/bgVibes.png") no-repeat top center;
        height: 1700px;
    }

    .main .light {
        background: url(../../components/main/img/bg_mob.jpg);
    }
}
