.footer_text {
    text-align: center;
    font-family: 'Rubik light';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: var(--color_5);
    opacity: 0.5;
}