:root {
    --color_1: #011856;
    --color_2: #AAF0FF;
    --color_3: #00B5FF;
    --color_4: #ff4a39;
    --color_5: #FFFFFF;
    --color_6: #FFE400;
    --color_7: #333533;
    --color_8: #AAF0FF;
}