.card_container {
    display: flex;
    justify-content: space-between;
}
.card_item {
    width: 300px;
    text-align: center;
    position: relative;
}
.card_title {
    font-family: 'Rubik bolder';
    font-style: italic;
    font-weight: 900;
    font-size: 22px;
    line-height: 56px;
    /* identical to box height, or 255% */
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color_6);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color_7);
}
.card_desc {
    font-family: 'Rubik light';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color_5);
}
.card_item:nth-child(2):before {
    content: '';
    position: absolute;
    top:10px;
    left:-113px;
    width: 93px;
    height: 65px;
    background: url(/components/card_present/img/arrow.png);
}
.card_item:nth-child(2):after {
    content: '';
    position: absolute;
    top:10px;
    right: -113px;
    width: 93px;
    height: 65px;
    background: url(/components/card_present/img/arrow.png);
}
@media only screen and (max-width: 600px) and (min-width: 320px) {
    .card_container {
        flex-wrap: wrap;
    }
    .card_desc {
        padding-left: 10px;
        padding-right: 10px;
    }
    .card_item {
        width: 100%;
    }
    .card_wrapper {
        padding-top: 25px;
    }
    .card_item:nth-child(2):before {
        left: 0px;
        top:15px;
        background: url(/components/card_present/img/mobile_arrow.png);
        height: 90px;
    }
    .card_item:nth-child(2):after {
        right: 0px;
        top:240px;
        background: url(/components/card_present/img/mobile_arrow_right.png);
        height: 90px;
    }
    .card_item img {
        margin-top: 20px;
    }
}